name: Run action

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - run: sudo apt-get install libglpk-dev 
    - uses: actions/checkout@v3
    - uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.2.2' # The R version to download (if necessary) and use. 
    # Use "renv" to retrieve R version recorded in renv.lock file.
    - uses: r-lib/actions/setup-renv@v2
    - run: Rscript -e 'library("housing")'